/**
 * Description courte
 *
 * Description longue
 *
 * @category    styleSheet
 * @package     claraGames
 * @author      DESSI Alain <contact@alain-dessi.com>
 * @copyright   2017 Dessi Alain
 * @link        http://www.alain-dessi.com
 */

 /**
  * Imports
  */
 @import '_mixins';


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, #56a9ff, #e6f4ff);
    height: 100vh;
    user-select:none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.disable-select {
    user-select:none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav {
    background-image: linear-gradient(45deg, #c990e0, #397cad);
    padding: 15px 0;
    border-bottom: 2px solid #fff;
    .nav-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .nav-logo {
        padding-top: 12px;
    }
}



.main-container {
    margin-top: 120px;
}

.container {
    width: 600px;
    height: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}


/*
 |--------------------------------------------------------------
 | MemoryGame
 |--------------------------------------------------------------
 */
#memory-game {
    position: relative;
    padding: 60px;
    height: 320px;
    border-radius: 16px;
    border: 12px solid #fff;
    &.nemo {
        background-image: url('imgs/bck_nemo.jpg');
    }
    &.nene {
        background-image: url('imgs/bck_reine-des-neiges.jpg');
    }
    &.peppa {
        background-image: url('imgs/bck_peppa.jpg');
    }
    &.paw-patrol {
        background-image: url('imgs/bck_paw-patrol.jpg');
    }
    &.raiponce {
        background-image: url('imgs/bck_raiponce.jpg');
    }
    &.george {
        background-image: url('imgs/bck_peppa.jpg');

    }
    .title {
        position: absolute;
        top: -76px;
        left: 32px;
        background-color: transparent;
    }
    #params {
        position: absolute;
        bottom: 12px;
        left: 12px;
        padding-top: 40px;
        clear: both;
    }
    #win-game {
        @include transform(translateX(-8000px));
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 70px;
        margin-left: -200px;
        margin-top: -30px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background-color: #2fb8f2;
        border: 4px solid #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.35);
        @include transition(all, 0.5s);
        &.open {
            @include transform(translateX(0px));
        }
        p {
            margin: 0;
            padding: 0;
        }
    }
    #score-game {
        position: absolute;
        top: 12px;
        right: 40px;
        padding: 2px 16px;
        font-size: 16px;
        border-radius: 12px;
        color: #333;
        background-color: #fff;
        span {
            font-weight: bold;
        }
        .view-score {
            font-weight: bold;
        }
    }
    #version {
        position: absolute;
        bottom: 12px;
        right: 20px;
        font-size: 10px;
        color: #fff;
    }
}

.card-container {
    position: relative;
    width: 120px;
    height: 160px;
    float: left;
    perspective: 800px;
}

.card {
    position: absolute;
    width: 110px;
    height: 150px;
    margin: 0 auto;
    transform-style: preserve-3d;
    @include transition(transform, 1s);
    cursor: pointer;
    figure {
        position: absolute;
        margin: 0;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 90px;
        font-weight: bold;
        line-height: 150px;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.35);
        @include backface-visibility("hidden");
    }
    .front {
        &.nemo {
            background-image: url('imgs/nemo.jpg');
            background-position: center;
            background-size: 200px;
        }
        &.nene {
            background-image: url('imgs/reine-des-neiges.jpg');
            background-position: center;
            background-size: 300px;
        }
        &.peppa {
            background-image: url('imgs/peppa-pig.jpg');
            background-position: center;
            background-size: 270px;
        }
        &.paw-patrol {
            background-image: url('imgs/paw-patrol.jpg');
            background-position: center;
            background-size: 100px;
        }
        &.raiponce {
            background-image: url('imgs/raiponce.jpg');
            background-position: center;
            background-size: 150px;
        }
        &.george {
            background-image: url('imgs/george.jpg');
            background-position: center;
            background-size: 118px;
        }
    }
    .back {
        background-color: #e63838;
        transform: rotateY( 180deg );
    }
    &.flipped {
      transform: rotateY( 180deg );
    }
}


button {
    padding: 8px 12px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    @include transition(all, 0.5s);
}

#reset, #restart {
    background-color: #00bd64;
}

#reset:hover, #restart:hover {
    background-color: #0f5032;
}

#type-game {
    border-bottom: 2px solid #0d7142;
    background-color: #00bd64;
    display: none;
}

#type-game:hover {
    border-bottom: 2px solid #0f5032;
    background-color: #0d7142;
    box-shadow: 0px 0px 0px #888;
}
