/**
 * Description courte
 *
 * Description longue
 *
 * @category    styleSheet
 * @package     claraGames
 * @author      DESSI Alain <contact@alain-dessi.com>
 * @copyright   2017 Dessi Alain
 * @link        http://www.alain-dessi.com
 */
/**
 * Imports
 */
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-45deg, #56a9ff, #e6f4ff);
  height: 100vh;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.disable-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.nav {
  background-image: linear-gradient(45deg, #c990e0, #397cad);
  padding: 15px 0;
  border-bottom: 2px solid #fff;
}
.nav .nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.nav .container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.nav .nav-logo {
  padding-top: 12px;
}

.main-container {
  margin-top: 100px;
}

.container {
  width: 960px;
  height: auto;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

/*
 |--------------------------------------------------------------
 | MemoryGame
 |--------------------------------------------------------------
 */
#memory-game {
  position: relative;
  padding: 60px;
  height: 472px;
  border-radius: 16px;
  border: 12px solid #fff;
  background-size: cover;
}
#memory-game.nemo {
  background-image: url("imgs/bck_nemo.jpg");
}
#memory-game.nene {
  background-image: url("imgs/bck_reine-des-neiges.jpg");
}
#memory-game.peppa {
  background-image: url("imgs/bck_peppa.jpg");
}
#memory-game.paw-patrol {
  background-image: url("imgs/bck_paw-patrol.jpg");
}
#memory-game.raiponce {
  background-image: url("imgs/bck_raiponce.jpg");
}
#memory-game.george {
  background-image: url("imgs/bck_peppa.jpg");
}
#memory-game .title {
  position: absolute;
  top: -76px;
  left: 32px;
  background-color: transparent;
}
#memory-game #params {
  position: absolute;
  bottom: -32px;
  left: 12px;
  padding-top: 40px;
  clear: both;
}
#memory-game #win-game {
  -moz-transform: translateX(-8000px);
  -o-transform: translateX(-8000px);
  -ms-transform: translateX(-8000px);
  -webkit-transform: translateX(-8000px);
  transform: translateX(-8000px);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 82px;
  margin-left: -200px;
  margin-top: -52px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background-color: #2fb8f2;
  border: 4px solid #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#memory-game #win-game.open {
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
#memory-game #win-game p {
  margin: 0;
  padding: 0;
}
#memory-game #score-game {
  position: absolute;
  top: 12px;
  right: 40px;
  padding: 2px 16px;
  font-size: 16px;
  border-radius: 12px;
  color: #444;
  background-color: #fff;
  font-size: 12px;
}
#memory-game #score-game span {
  font-weight: bold;
  font-size: 16px;
}
#memory-game #score-game .view-score {
  font-weight: bold;
}
#memory-game #version {
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-size: 10px;
  color: #fff;
}

.card-container {
  position: relative;
  width: 120px;
  height: 160px;
  float: left;
  perspective: 800px;
}

.card {
  position: absolute;
  width: 110px;
  height: 150px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform-origin: center;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card figure {
  position: absolute;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 90px;
  font-weight: bold;
  line-height: 150px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  -webkit-backface-visibility: "hidden";
  -moz-backface-visibility: "hidden";
  -o-backface-visibility: "hidden";
  backface-visibility: "hidden";
}
.card .front {
  background-size: cover;
}
.card .front.nemo {
  background-image: url("imgs/nemo.jpg");
  background-position: center;
}
.card .front.nene {
  background-image: url("imgs/reine-des-neiges.jpg");
  background-position: center;
}
.card .front.peppa {
  background-image: url("imgs/peppa-pig.jpg");
  background-position: center;
}
.card .front.paw-patrol {
  background-image: url("imgs/paw-patrol.jpg");
  background-position: center;
}
.card .front.raiponce {
  background-image: url("imgs/raiponce.jpg");
  background-position: center;
}
.card .front.george {
  background-image: url("imgs/george.jpg");
  background-position: center;
}
.card .back {
  background: #FF512F;
  background: linear-gradient(to bottom, #F09819, #FF512F);
  background: -webkit-linear-gradient(to bottom, #F09819, #FF512F);
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(180deg);
}
.card.card-win {
  opacity: 0.65;
}
.card.card-win figure {
  background: #888;
  box-shadow: none;
}

button {
  padding: 8px 12px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#reset, #restart {
  background-color: #00bd64;
}

#reset:hover, #restart:hover {
  background-color: #0f5032;
}

#type-game {
  border-bottom: 2px solid #0d7142;
  background-color: #00bd64;
  display: none;
}

#type-game:hover {
  border-bottom: 2px solid #0f5032;
  background-color: #0d7142;
  box-shadow: 0px 0px 0px #888;
}

/*# sourceMappingURL=main.css.map */
